@keyframes fundo {
    from {background-color: rgb(226, 226, 226);}
    to {background-color: rgb(141, 141, 141);}
}

body {
    background-color: rgb(141, 141, 141);
    animation-name: fundo;
    animation-duration: 120s;
}

h1 {
    font-family: 'Oswald', monospace;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 20px;
}

#selecao-de-tema {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#selecao-de-tema select {
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

#selecao-de-tema button {
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
    padding: 5px;
    width: 100px;
}

#jogo-da-forca {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#jogo-da-forca span {
    font-family: 'Roboto Mono', monospace;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 3rem;
}

#entrada {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entrada input {
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

#entrada button {
    font-family: 'Roboto Mono', monospace;
    padding: 3px;
    margin: 5px;
    width: 120px;
}

#label-tentativas {
    margin: 15px;
}

#label-tentativas-anteriores {
    margin-top: 25px;
}